
@font-face {
    font-family: 'Miso Bold';
    src: url('../fonts/miso-bold.otf');
    src: local('Miso Bold'), url('../fonts/miso-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Miso Regular';
    src: url('../fonts/miso-regular.otf');
    src: local('Miso Bold'), url('../fonts/miso-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miso Light';
    src: url('../fonts/miso-light.otf');
    src: local('Miso Bold'), url('../fonts/miso-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

